body{
  background-color: #EEE2DC;
  overflow: auto;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Trebuchet MS', sans-serif;
  color: #123C69;
}
#content{
  overflow: auto;
}

#nav a{
  display: inline-block;
  color: #123C69;
  padding-top:1%;
  padding-bottom: 1%;
  padding-left: 8.2%;
  padding-right: 8.2%;
  text-decoration: none;
  position: relative;
  text-align: center;
  font-size: 100%;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
}
#nav a.active{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 8.2%;
  padding-right: 8.2%;
  background-color: #AC3B61;
  color: #EDC7B7;
}
#nav a:hover:not(.active){
  background-color: #EDC7B7;
  text-decoration: none;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 8.7%;
  padding-right: 8.7%;
}


.submit{
  background-color: #AC3B61;
  color: #EDC7B7;
  border-color: #EDC7B7;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
}
.submit:hover{
  background-color: #123C69;
  color:#BAB2B5;
  border-color: #BAB2B5;
}

h1{
  color: #123C69;
}
h3{
  color: #AC3B61;
}

#footer{
  background-color: #efefef;
  padding:1%;
  margin-top: 1%;
  margin-bottom:1%;
}
*{
  box-sizing: border-box;
}
/*media queries to make the website responsive to several screen sizes*/
@media only screen and (max-width:700px){
  .responsive{
    width:100%;
    height:auto;
    position: relative;
  }
}
@media only screen and (max-width:500px){
  .responsive{
    width:100%;
    height:auto;
    position: relative;
  }
}
